<table class="table table-hover table-striped table-bordered table-condensed">
<% schedule = @schedule.schedule %>
  <% schedule.split(%r{;\s*}).each do |line| %>
  	<tr>
	  <% line.split(%r{,\s*}).each do |cell| %>
	  	<td><%= cell %></td>
	  <% end %>
  	</tr>
  <% end %>
</table>