<h1>Schedules</h1>
<h4>Here are your schedules that you have generated in the past for each week.</h4>


<table class="table table-hover table-striped table-bordered table-condensed">
	<tr>
		<th>Generated Date</th>
		<th>View Schedules</th>
	</tr>
		
<% @Schedules.each do |schedule| %>
		
	<tr>
		<td><%= schedule.created_at %></td>
		<td><a href='/schedules/archive_table/<%= schedule.id %>'>View Schedule</a></td>
	</tr>
		
<% end %>

</table>

<a href="/dashboard" class="btn btn-success">Done</a>