<h1>New Schedule</h1>
<h4>Here's a possible schedule.  Make sure to save it below if you plan to use it!</h4>

<%= render 'table' %>

<br><br>
<div id="errors">
	<%= "Oops! This generation has generated errors!" unless @errors.empty? %><br>
	<% @errors.each do |e| %><font color="red"><%= e %></font><br><% end %>
</div>

<%= button_to "Save", schedules_save_path(params.merge(schedule: @schedule.to_json)), class: "btn btn-success" %>
<a href="/dashboard" class="btn">Cancel</a>
