<h1>New Schedule</h1>

<%= render 'table' %>

<br><br>
<div id="errors">
	<%= "Oops! This generation has generated errors!" unless @errors.empty? %><br>
	<% @errors.each do |e| %><font color="red"><%= e %></font><br><% end %>
</div>