<h1>Listing shifts</h1>

<table>
  <tr>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>

  <% @count.times do |n| %>
    <tr>
      <% 7.times do |day| %>
        <td>
          <% unless @shifts[day][n].nil? %>
            <%= "#{@shifts[day][n].start.strftime("%I:%M%p")} - #{@shifts[day][n].end.strftime("%I:%M%p")}" %>
            <%= link_to 'e', edit_shift_path(@shifts[day][n]) %>
            <%= link_to 'd', @shifts[day][n], method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      <% end %>        
    </tr>
  <% end %>

</table>

<br />

<%= link_to 'New Shift', new_shift_path %>