table {
  border-collapse:collapse;
}

table,th, td {
  padding: 4px;
  border: 1px solid #999;
}

.time_selects select {
   background: transparent;
   width: 45px;
   padding: 2px;
   font-size: 14spx;
   border: 0px solid #ccc;
   height: 20px;
}

.shift_selects select {
   width: 75px;
}

.field input {
  border: 1px solid;
  width: 300px;
  padding: 5px;
  font-size: 16px;
  height: 20px;
}

.actions input {
  background: transparent;
  border: 1px solid;
  padding: 3px;
  font-size: 12px;
}

.actions input:hover {
  color: white;
  background: black;
}